* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 15px;

    padding: 20px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}